node_modules
dist
dist-ssr

# Local env (mantenemos .env.production que SÍ se necesita en build)
.env
.env.local
*.local

# VCS / IDE
.git/
.gitignore
.idea/
.vscode/
*.swp
.DS_Store

# Docs
README.md
*.md
